<?xml version='1.0' encoding='utf-8'?>
<widget id="com.necro369.spaceadventure" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Space adventure</name>
    <description>
        Sobrevive y mata el máximo número de aliens.
    </description>
    <author email="" href="https://github.com/necro369">
        Necro369
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
